:root {
  --main-background: #1d1d1d;
  --card-background: #080808;
  --card-shadow: rgba(23, 212, 254, .7);
  --card-separator: rgba(255, 255, 255, 0.1);
  --number-color: #17d4fe;
}

*, *::after, *::before { 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
  }
  
  body {
    background-color: var(--main-background);
    color: var(--number-color);
  }
  
  .flip-card {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0 2px 3px 0 var(--card-shadow);
    border-radius: .1em;
  }
  
  .top,
  .bottom,
  .flip-card .top-flip,
  .flip-card .bottom-flip {
    height: .75em;
    line-height: 1;
    padding: .25em;
    overflow: hidden;
  }
  
  .top,
  .flip-card .top-flip {
    background-color: var(--card-background);
    border-top-right-radius: .1em;
    border-top-left-radius: .1em;
    border-bottom: 1px solid var(--card-separator);
  }
  
  .bottom,
  .flip-card .bottom-flip {
    background-color: var(--card-background);
    display: flex;
    align-items: flex-end;
    border-bottom-right-radius: .1em;
    border-bottom-left-radius: .1em;
  }
  
  .flip-card .top-flip {
    position: absolute;
    width: 100%;
    animation: flip-top 250ms ease-in;
    transform-origin: bottom;
  }
  
  @keyframes flip-top {
    100% {
      transform: rotateX(90deg);
    }
  }
  
  .flip-card .bottom-flip {
    position: absolute;
    bottom: 0;
    width: 100%;
    animation: flip-bottom 250ms ease-out 250ms;
    transform-origin: top;
    transform: rotateX(90deg);
  }
  
  @keyframes flip-bottom {
    100% {
      transform: rotateX(0deg);
    }
  }
  
  .clock-wrapper {
    display: flex;
    gap: .5em;
    justify-content: center;
    max-width: 320px;
    margin: 0 auto;
  }
  
  .wrapper-section {
    display: flex;
    flex-direction: column;
    gap: .1em;
    align-items: center;
  }
  
  .section-content {
    display: flex;
    gap: .1em;
  }
  
  .segment-title {
    font-size: 1rem;
  }

  #clock {
    position: absolute;
    cursor: pointer;
  }